/* You can add global styles to this file, and also import other style files */

.main-background {
    background-color: #eeeeee
}

.nav-tabs>li>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.disabled {
    pointer-events: none;
    cursor: default;
}