<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-primary chat-message-list-container">
        <div class="panel-heading">
            <h3 class="panel-title">Replace with current chat scope</h3>
        </div>
        <div class="panel-body chat-message-panel-body">
            <div class="row">
                <ul class="list-group  chat-message-list-messages">
                    <app-chat-message-item *ngFor="let messageItem of messages; let i = index; let isOdd=odd; let isEven=even" [message]="messageItem" [isOdd]="isOdd" [isEven]="isEven"></app-chat-message-item>
                </ul>
            </div>
        </div>
    </div>
</div>