.chat-message-list-container {
    height: 500px;
}

.chat-message-list-messages li {
    border-top: none;
}

.chat-message-list-messages {
    position: absolute;
    overflow-y: auto;
    height: 87%;
    margin: 1;
    min-width: 150px;
    width: 94%;
}

.chat-message-panel-body {
    padding-top: 2px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}