<div class="row">
    <app-active-users-list></app-active-users-list>
    <app-chat-message-list [messages]="messages"></app-chat-message-list>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="text" id="name" [(ngModel)]="message" (keyup.enter)="sendMessage()" class="form-control" placeholder="Start typing...">
            <span class="input-group-btn">
        <button class="btn btn-success" (click)="sendMessage()" type="button">Send message!</button>
      </span>
            <div *ngIf="emptyMessage"></div>
        </div>
    </div>
</div>


<button id="send" class="btn btn-default" (click)="logout()">Logout</button>


<!--<button id="send" class="btn btn-default" (click)="doLoginTry()">Login TRY</button>


<button id="send" class="btn btn-default" (click)="startChat()">Start</button>-->